*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteiner{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.item{
    height: 150px;
    width: 80%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-inline: 16px;
    align-items: center;
}
.forma{
    height: 100px;
    width: 100px;
    background-color: green;
    cursor: pointer;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto {
    color: #fff;
    font-size: 45px;
}
.vermelho{
    background-color: red;
}
.circulo{
    background-color: blue;
    border-radius: 50%;
}
.girar{
    background-color: grey;
    border-radius: 50%;
    rotate: 360000deg;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}
.aumentar{
    background-color: aqua;
    position: absolute;
    flex-grow: 1;
    width: 100%;
}
.mover{
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: transform 1.5s;
    transform: rotate3d(1, 1, 1, 30deg);
    margin: 50px auto;
    rotate: 360deg;
    background-color: rgb(229, 255, 0);
}
.triangulo{
    display: flex;
    justify-content: center;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid rgb(255, 0, 170);
    background-color: black;
    rotate: 360deg;
}